<!--
//*****************************************************************************
//	システム名　　　：インシデント管理システム
//	サブシステム名　：
//	画面名　　　　　：インシデントMr2画面
//	作成日付・作成者：2017.12.08 ADF)S.Yoshida
//	修正履歴　　　　：
//*****************************************************************************
-->

<div>
    <div class="container-fluid">
        <div class="sub-win-content-start"></div>
        <div class="text-right transition-button">
            <span>
                <button type="button" class="btn" (click)="nativeWindow.close();">
                    閉じる
                </button>
            </span>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading clearfix">
                        <span class="h3 incident-title-status">障害対応報告書(MR2)</span>
                        <div class="pull-right">
                            <!-- <strong>最終更新日：{{updDate}} {{updUserNm}}</strong> -->
                            <strong>最終更新日：2017/11/28 21:22 adfユーザ</strong>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body context-margin">
                        <h5 class="context-header">
                            <strong>基本情報</strong>
                        </h5>
                        <div class="setubi-and-cust-info-border">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>受付番号：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{incidentNo}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">20171220I001</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>PJ番号：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{PjId}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">J1000000</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>顧客名：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">○○県○○市</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>機場：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{kijoNm}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">秋田市仁井田浄水場</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>作成日：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{insDate}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">2017/12/20 10:00</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>受付日：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{callDate}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">2017/12/20 09:00</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>障害発生日：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{StartDate}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">2017/12/19 20:00</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>処理担当部署：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{SectionNm}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">サービス）プロ運営</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>検査責任部署：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{insDate}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">サービス）プロ運営）事企</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>検査責任者：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{actSectionNm}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">担当者　1054</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>御依頼元担当部署：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{insDate}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">御依頼元担当部署</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>御依頼元担当者：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{actSectionNm}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">御依頼元担当者</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>作業担当者：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{insDate}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">作業担当者</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>発行部署：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{actSectionNm}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">発行部署</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <strong>MR2状況：</strong>
                                </div>
                                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{insDate}}</div> -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">作業中</div>
                            </div>
                        </div>
                        <h5 class="context-header">
                            <strong>行動記録</strong>
                        </h5>
                        <div class="call-info-border">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>出発日：</strong>
                                </div>
                                <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">{{callDate}}</div> -->
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">2017/12/22 02:02</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>到着日：</strong>
                                </div>
                                <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">{{callDate}}</div> -->
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">2017/12/22 03:06</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>作業開始日：</strong>
                                </div>
                                <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">{{callDate}}</div> -->
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">2017/12/23 09:00</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>作業終了日：</strong>
                                </div>
                                <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">{{callDate}}</div> -->
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">2017/12/24 12:00</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>現地出発日：</strong>
                                </div>
                                <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">{{callDate}}</div> -->
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">2017/12/24 13:00</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>帰着日：</strong>
                                </div>
                                <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">{{callDate}}</div> -->
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">2017/12/24 14:30</div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

                <h4 class="panel-header text-primary">
                    <strong>▼作業情報</strong>
                </h4>
                <div class="panel panel-default">
                    <div class="panel-body context-margin">

                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <strong>件名：</strong>
                            </div>
                            <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{taioDeptNm}}</div> -->
                            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">木田水源配水場 2017年度対応</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <strong>設備名：</strong>
                            </div>
                            <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{taioTel}}</div> -->
                            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">ＡＣ４００Ｖ変圧器盤</div>
                        </div>
                        <h5 class="context-sub-header">
                            <strong>不具合状況</strong>
                        </h5>
                        <div class="setubi-and-cust-info-border">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>　トリガー：</strong>
                                </div>
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productTriggerNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productTriggerNm}}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-2 col-xs-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    トリガー状況
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>　頻度：</strong>
                                </div>
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productHindoNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productHindoNm}}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-2 col-xs-offset-2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    頻度状況
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>　現象：</strong>
                                </div>
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productGensyoNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productGensyoNm}}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-2 col-xs-offset-2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    現象状況
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>　状態：</strong>
                                </div>
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productStatusNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productStatusNm}}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-2 col-xs-offset-2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    状態状況
                                </div>
                            </div>
                            <div class="info-detail-area">不具合状況</div>
                        </div>
                        <h5 class="context-sub-header">
                            <strong>設備影響</strong>
                        </h5>
                        <div class="call-info-border">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>　設備停止：</strong>
                                </div>
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productTriggerNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">全体</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>　データ欠損：</strong>
                                </div>
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productHindoNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">部分</div>
                            </div>
                            <div class="info-detail-area">設備影響</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <strong>調査内容：</strong>
                            </div>
                            <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{taioDeptNm}}</div> -->
                            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">調査内容</div>
                        </div>
                        <h5 class="context-sub-header">
                            <strong>原因</strong>
                        </h5>
                        <div class="taio-info-border">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>　原因特定：</strong>
                                </div>
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productTriggerNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">推定</div>
                            </div>
                            <div class="info-detail-area">原因</div>
                        </div>
                        <h5 class="context-sub-header">
                            <strong>処置</strong>
                        </h5>
                        <div class="action-info-border">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>　処置方法：</strong>
                                </div>
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productTriggerNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">応急</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>　顧客要望：</strong>
                                </div>
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productTriggerNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">有り（その他）</div>
                            </div>
                            <div class="info-detail-area">処置</div>
                        </div>
                        <h5 class="context-header">
                            <strong>結果</strong>
                        </h5>
                        <div class="product-info-border">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                    <strong>　復旧状況：</strong>
                                </div>
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productTriggerNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">部分</div>
                            </div>
                            <div class="info-detail-area">結果</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>対象機器名称：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{insDate}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">対象機器名称</div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>盤名称・記号：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{actSectionNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">盤名称</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>物品処理：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{insDate}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">引取修理</div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>設置場所：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{actSectionNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">木田水源配水場のどこか</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>部品払出：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{insDate}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">顧客予備品</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>払出日：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{insDate}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">2017/12/28</div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>返却日：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{actSectionNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">2017/12/29</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>伝票番号：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{insDate}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">test-1-1-1</div>
                        </div>
                        <h5 class="context-header">
                            <strong>最終検査</strong>
                        </h5>
                        <div class="relate-user-info-border">
                            <div class="row">
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productTriggerNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">合</div>
                            </div>
                            <div class="info-detail-area">結果</div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

                <h4 class="panel-header text-primary">
                    <strong>▼お客様入力欄</strong>
                </h4>
                <div class="panel panel-default">
                    <div class="panel-body context-margin">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>今回の作業について：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">満足</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>お客様コメント：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">コメント</div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

                <h4 class="panel-header text-primary">
                    <strong>▼社内向け入力欄</strong>
                </h4>
                <div class="panel panel-default">
                    <div class="panel-body context-margin">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>対象機種区分：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">対象機種区分</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>製作メーカ：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">製作メーカ</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>施工メーカ：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">施工メーカ</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>保守契約：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">有</div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>保守契約(種類)：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{kijoNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">有償</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>確認方法：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">面談</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>障害ランク：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">C.操業に影響 なし </div>
                        </div>
                        <h5 class="context-header">
                            <strong>原因分類</strong>
                        </h5>
                        <div class="setubi-and-cust-info-border">
                            <div class="row">
                                <!-- <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">{{productStatusNm}}</div> -->
                                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6">ハード</div>
                            </div>
                            <div class="info-detail-area">結果</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>社外公開：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">否</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>社内向け連絡事項・補足・備考欄：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">特にございません</div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

                <h4 class="panel-header text-primary">
                    <strong>▼改善情報</strong>
                </h4>
                <div class="panel panel-default">
                    <div class="panel-body context-margin">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>改善情報：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">無し</div>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->


                <h4 class="panel-header text-primary">
                    <strong>▼対象CAN</strong>
                </h4>
                <div class="panel panel-default">
                    <div class="panel-body context-margin">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>対象CAN1：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">can1</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>対象CAN2：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">can2</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>対象CAN3：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">can3</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>対象CAN4：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">can4</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <strong>対象CAN5：</strong>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{{custNm}}</div> -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">can5</div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
        </div>
        <!-- /.row -->
    </div>
</div>